<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd

        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:resource/resource.properties"/>
    <!--扫描包-->
    <context:component-scan base-package="com.taotao.order.controller"/>


    <!--配置注解驱动-->
    <mvc:annotation-driven/>
    <!--静态资源过滤-->
    <!--<mvc:default-servlet-handler/>-->
    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--资源配置-->
    <!--<mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>-->
    <!--<mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>-->
    <!--<mvc:resources location="/WEB-INF/images/" mapping="/js/**"/>-->
    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/order/**"/>
            <bean class="com.taotao.order.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置默认的编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--设置文件上传的最大值-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>
    <!--引用dubbo服务-->
    <dubbo:application name="taotao-sso-web"/>
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>
    <dubbo:reference interface="com.taotao.sso.service.UserService" id="userService"/>
    <dubbo:reference interface="com.taotao.order.service.OrderService" id="orderService"/>
    <!--<dubbo:reference interface="ContentCategoryService" id="contentCategoryService"/>-->
    <!--<dubbo:reference interface="ContentService" id="contentService"/>-->
    <!--<dubbo:reference interface="com.taotao.search.service.SearchItemService" id="searchItemService"/>-->

</beans>




