<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.taotao.manager.search.mapper.SearchItemMapper">
    <select id="getItemList" resultType="com.suny.taotao.common.pojo.SearchItem">
        SELECT a.id,
               a.title,
               a.sell_point,
               a.price,
               a.image,
               b.name category_name,
               c.item_desc
        FROM tb_item a
                 LEFT JOIN tb_item_cat b ON a.cid = b.id
            LEFT JOIN tb_item_desc c ON a.id = c.item_id
        WHERE a.status = 1
    </select>

    <select id="getItemItemById" parameterType="Long" resultType="com.suny.taotao.common.pojo.SearchItem">
        SELECT
        a.id,
        a.title,
        a.sell_point,
        a.price,
        a.image,
        b.name category_name,
        c.item_desc
        FROM tb_item a
        LEFT JOIN tb_item_cat b ON a.cid = b.id
            LEFT JOIN tb_item_desc c ON a.id = c.item_id
        WHERE a.status = 1
              AND a.id = #{itemId}
    </select>

</mapper>