<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="dev">
        <logger name="com.suny.taotao.content.service.impl.content" level="DEBUG">
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.suny.taotao.content.service.impl.content" level="INFO">
        </logger>
    </springProfile>

</configuration>
